h1,h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #0066cc;
    margin-bottom: 20px;
  }
  

.papan-skor {
    font-size: 24px;
    font-weight: bold;
    color: #0066cc;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  

  button {
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #0066cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0052a3;
  }
  
  .container {
    width: 600px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

.taneuh{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.taneuh::after{
    content: '';
    display: block;
    width: 150px;
    height: 120px;
    background: url(../img/taneuh.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: 0;
}

.oray {
    width: 80%;
    height: 100%;
    background: url(../img/oray.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 80px;
    transition: top 0.3s, transform 0.3s;
  }
  
  .taneuh.muncul .oray {
    top: 0;
    transform: scale(1.1); /* Tambahkan animasi perbesaran */
  }
  